h1{ 
    color:green
}
*{
    border:solid;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p{
    text-align: center;
}